{% load staticfiles %}

<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <link rel="stylesheet" href="{% static 'css/basestyles.css' %}">
    <title>My articles can be found here.</title>
  </head>
  <body>
    <header>
      <h1><a href="/">My personal blog</a></h1>
    </header>
      <div class="container">

        {% if user.is_authenticated %}
        <p>You are logged in</p>
        <p>Hello {{user.username}}, how are you?</p>

        {% else %}
        <p>You are not logged in</p>
        <p>Please <a href="{% url 'login' %}">login here</a></p>
        {% endif %}
        {% block content %}
        {% endblock %}

      </div>

  </body>
</html>
